[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "themes/ink-free"]
	path = themes/ink-free
	url = https://github.com/chollinger93/ink-free
[submodule "hugo-ink"]
	path = hugo-ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
